

md-select, md-autocomplete {
  padding-bottom: 5px !important;
}

h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.md-button, .md-tab {
  text-transform: capitalize;
  font-weight: 700;
}

.error-message {
  color: @red;
  font-size: 1.2rem;
}

.former-container {
  display: block;
  @media(min-width: @screen-sm){
    width: 60%;
    margin-left: 20%;
  }
  width: 90%;
  margin-left: 5%;

  min-height: 400px;

}

.step-container {
  h3 {
    font-weight: bold;
    font-size: 4rem;
    color: @journey-grey;
  }

  .step-time {
    color: @blue;
    .font-size(2);
  }


}
.next-button, .cancel-button {
  width: 40%;
  height: 42px;

  @media(min-width: @screen-lg){
    width: 20%;
  }
  @media(min-width: @screen-md){
    width: 30%;
  }
  margin-top: 40px;
  margin-bottom: 80px;


  text-transform: none;
  font-weight: bold;

}

.cancel-button {
  color: @gray !important;
  float: left;
  @media(min-width: @screen-md){
    margin-left: 10%;
  }
  @media(min-width: @screen-sm){
    margin-left: 5%;
  }
}

.next-button {
  float: right;
  @media(min-width: @screen-md){
    margin-right: 10%;
  }
  @media(min-width: @screen-sm){
    margin-right: 5%;
  }
}
