//colours
//

@blue             : #6eaee9;
@dark-warm-grey   : #1d1815;



@font-face {
  font-family: 'museo';
  src: url('/assets/fonts/museo_sans_family_web/MuseoSans_300Web.eot'),
  url('/assets/fonts/museo_sans_family_web/MuseoSans_300Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'museo';
  src: url('/assets/fonts/museo_sans_family_web/MuseoSans_700Web.eot'),
  url('/assets/fonts/museo_sans_family_web/MuseoSans_700Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

div, span, button, input, textarea {
  font-family: 'museo' !important;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'museo' !important;
  letter-spacing: -0.045rem;
  color: @grey-333;
  @my-transition: color @transition-timing @transition-ease, font-size @transition-timing @transition-ease;
  .transition(@my-transition);
}
