


md-content.journey-inline-view {


  h1.journey-title {
    position: fixed;
    margin-top: 20px;
  }


  .step-container {
    margin-top: 70px;
  }

  p.step-time {
    margin-top: -10px;
  }

  p {
    margin: 0;
  }

}
