md-content.journey-inline-view

  .container
    .col-sm-8
      a(href='/journeyview/{{currentId}}')
        h4 Journey Inline View

  .journey-wrapper
    .journey-container

      former.former-container(form-controls='formControls', form-definition='formDefinition',
          form-model='journey', form-section-state-param='currentSection',
          form-id-state-param='currentId', form-submit='submitForm')


  md-button.md-fab.back-button(type='button', ng-click='gotoEditor()')
    md-icon(md-svg-icon='/assets/images/back.svg')
