
md-content


  former.former-container(form-controls='formControls', form-definition='formDefinition',
             form-model='acc45', form-section-state-param='currentSection',
             form-id-state-param='currentId')


  pre {{acc45 | json}}

  h3 Previous local forms
  md-list
    md-list-item(ng-repeat='previousForm in previousForms track by $index')
      md-button.md-raised(ng-click='selectPreviousForm(previousForm)', type='button') {{previousForm}}
