md-content

  .container
    .col-sm-8
      h4 Journey View

    .col-sm-4
      md-button.md-raised(type='button', ng-click='gotoEditor()') Back to editor


  journeyful(journey-definition='journeyDefinition')


  //pre {{journeyDefinition | json}}
