md-content.journey-presentation-view

  journeyful(journey-definition='journeyDefinition')


  a(href='/journeyselect')
    md-button.md-fab.home-button(type='button')
      md-icon(md-svg-icon='/assets/images/ic_home_24px.svg')

  a(href='/journeyinline/start/{{currentId}}')
    md-button.md-fab.edit-button(type='button', ng-click='gotoEditor()')
      md-icon(md-svg-icon='/assets/images/ic_edit_24px.svg')

