//colours
//

@blue   :   #6eaee9;

.journey-wrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

}
.journey-container {
  max-width: 10000px;
  min-width: 1500px;
  white-space:nowrap;
  text-align: center;
}

.step-container {
  width: 400px;
  display: inline-block;
  padding: 20px;
  white-space: pre-wrap;
  vertical-align: top;
  .img-mask {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background: @blue;
    border: 3px solid @blue;
    img {
      width: 180px;
      height: auto;
    }
  }
}

.empathy-panel {
  width: 48%;
  float: left;
  margin: 0 1%;
  p {
    font-size: 11px;
  }
  &.last {
    display: block;
    margin: 0 auto;
    float: none;
  }
}

h1 {
  text-align: center;
}



md-tabs[style] {
  height: auto !important;
}

