//colours
//

@blue   :   #6eaee9;

.journey-wrapper {
  max-width: 10000px;
}

.step-container {
  width: 400px;
  float: left;
  padding: 20px;
  .img-mask {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background: @blue;
    border: 3px solid @blue;
    img {
      width: 180px;
      height: auto;
    }
  }
}