body {
  background-color: @off-white;
  color: @journey-grey;
}

.journey-wrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;

  opacity: 0;
  .transition(opacity 500ms ease);
  &.fade-in {
    opacity: 1;
  }
}

.journey-container {
  max-width: 10000px;
  min-width: 1500px;
  white-space:nowrap;
  text-align: center;
}

.step-container {
  position: relative;
  width: 400px;
  min-height: 400px;
  display: inline-block;
  opacity: 1;
  p {
    margin-top: 20px;
    white-space: pre-wrap;
  }
  //the margin value is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
  margin: 0 (@step-divider-length / 2);
  padding: 20px;
  vertical-align: top;
  //set up lines between steps. There is one left and one right of the image. They are before/after elements
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    top: 95px;
    background: @journey-grey-light;
    height: @step-divider-height;
    border-radius: @step-divider-height / 2;
    //the width is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
    width: (@step-divider-length / 2) + 100;
    @my-transition: left @transition-timing @transition-ease, right @transition-timing @transition-ease;
    .transition(@my-transition);
  }
  &:before {
    //the width is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
    left: (((@step-divider-length / 2) + 5) * -1);
  }
  &:after {
    //the width is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
    right: (((@step-divider-length / 2) + 5) * -1);
  }
  &:first-child {
    margin-left: 0;
    &:before {
      display: none;
    }
  }
  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
  }
  .img-mask {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: @journey-grey;
    background-position: 50%;
    background-size: cover;
    border: 3px solid @journey-grey;
    @my-transition: width @transition-timing @transition-ease, height @transition-timing @transition-ease, background-color @transition-timing @transition-ease, border @transition-timing @transition-ease;

    .transition(@my-transition);
    &:focus {
      outline: none;
    }
  }

  .step-blurb {
    overflow: hidden;
    max-height: 0;
    @my-transition: all @transition-timing @transition-ease;
    .transition(@my-transition);
  }

  md-tabs {
    overflow: hidden;
    max-height: 0;
    @my-transition: min-height @transition-timing @transition-ease, max-height @transition-timing @transition-ease;
    .transition(@my-transition);
  }
  .step-time {
    .transition(all @transition-timing @transition-ease);
  }
  &.unfocus {
    h3 {
      color: @grey-fade;
      .font-size(3);
    }
    .step-number {
      background-color: darken(@grey-fade, 5%);
    }
    .step-time {
      opacity: 0.5;
    }
    .img-mask {
      background-color: @grey-fade;
      border-color: @grey-fade;
      //create a translucent overlay over the image to make it appear faded
      &:before {
        background-color: rgba(255, 255, 255, 0.7);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &:before, &:after {
      background-color: @grey-fade;
    }
  }

  &.focus {
    p {
      font-weight: 700;
      .font-size(1.8);
    }
    h3 {
      .font-size(5.2);
    }
    .img-mask {
      border: 5px solid @journey-grey;
    }
    .step-number {
      color: @loud-orange;
    }
    .step-time {
      color: @fragrant-blue;
      font-weight: 700;
      .font-size(2);
      margin-top: -10px;
    }
    md-tabs {
      max-height: 500px;
      min-height: 200px !important;
    }
    .step-blurb {
      max-height: 50px
    }
    &:before {
      //the width is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
      left: (((@step-divider-length / 1.5) + 5) * -1);
    }
    &:after {
      //the width is halved because each step has a line left and right. These are positioned to just overlap so it looks like one continuous line
      right: (((@step-divider-length / 1.5) + 5) * -1);
    }
    .img-mask {
      width: 250px;
      height: 250px;
    }
    &:before {
      .horizontal-gradient(@grey-fade, @journey-grey, 30%, 80%);
    }
    &:after {
      .horizontal-gradient(@journey-grey, @grey-fade, 0%, 80%);
    }
  }
}

.empathy-panel {
  width: 48%;
  float: left;
  margin: 0 1%;
  p {
    font-size: 11px;
  }
  &.last {
    display: block;
    margin: 0 auto;
    float: none;
  }
}

h1 {
  text-align: center;

  color: @loud-orange !important;
  font-weight: 700;

  &.journey-title {

  }

}


.step-number {
  background: @journey-grey;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  .font-size(3);
  line-height: 50px;
  position: absolute;
  top: 30px;
  left: 25%;
  font-weight: 700;
}
