md-content

  .container
    .col-sm-8
      h4 Journey View

    .col-sm-2.col-sm-offset-2
      md-button.md-primary(type='button', ng-click='gotoEditor()') Back to editor


  journeyful(journey-definition='journeyDefinition')


  //pre {{journeyDefinition | json}}
