md-content.journey-presentation-view

  .container
    .col-sm-8
      a(href='/journeyinline/start/{{currentId}}')
        h4 Journey Presentation View

    .col-sm-2.col-sm-offset-2
      md-button.md-primary(type='button', ng-click='gotoEditor()') Back to editor


  journeyful(journey-definition='journeyDefinition')


  //pre {{journeyDefinition | json}}
