md-content.journey-presentation-view

  .container
    .col-sm-8
      a(href='/journeyinline/start/{{currentId}}')
        h4 Journey Presentation View

  journeyful(journey-definition='journeyDefinition')


  //pre {{journeyDefinition | json}}
  
  md-button.md-fab.back-button(type='button', ng-click='gotoEditor()')
    md-icon(md-svg-icon='/assets/images/back.svg')
  
