
h1 {{journeyDefinition.journeyTitle}}

div(ng-repeat='step in journeyDefinition.steps' class="step-container")

  .img-mask
    img(ng-src='{{step.stepImage}}')
  h3 {{$index + 1}} {{step.stepTitle}}

  .panel
    h5 Thinking
    p {{step.stepThinking}}

  .panel
    h5 Feeling
    p {{step.stepFeeling}}

  .panel
    h5 Doing
    p {{step.stepDoing}}

  hr



