
h1.journey-title.margin-top-none {{journeyDefinition.journeyTitle}}

.journey-wrapper
  .journey-container

    .step-container(ng-repeat='step in journeyDefinition.steps' ng-class="{'focus':step.focus, 'unfocus': step.unfocus}")

      .step-number
        {{$index + 1}}
      .img-mask(style="background-image: url('{{step.stepImage}}');", ng-click="toggleZoom(step)")

      h3 {{step.stepTitle}}
      p.step-blurb {{step.stepBlurb}}
      p.step-time {{step.stepTime}}

      md-tabs(md-no-pagination="true" md-stretch-tabs="always" md-dynamic-height='false')
        md-tab(label='Thinking')
          md-content
            p {{step.stepThinking}}

        md-tab(label='Feeling')
          md-content
            p {{step.stepFeeling}}


        md-tab(label='Doing')
          md-content
            p {{step.stepDoing}}




