
h1 {{journeyDefinition.journeyTitle}}

div(ng-repeat='step in journeyDefinition.steps' class="step-container")

  h3 # {{$index + 1}} {{step.stepTitle}}
  img(ng-src='{{step.stepImage}}')

  .panel
    h5 Thinking
    p {{step.stepThinking}}

  .panel
    h5 Feeling
    p {{step.stepFeeling}}

  .panel
    h5 Doing
    p {{step.stepDoing}}

  hr



