md-content

  a(href='/journeyselect')
    md-button.md-fab.back-button(type='button')
      md-icon(md-svg-icon='/assets/images/back.svg')
        
  former.former-container(form-controls='formControls', form-definition='formDefinition',
                              form-model='journey', form-section-state-param='currentSection',
                              form-id-state-param='currentId', form-submit='submitForm')


  .container(style='margin-top: 80px;')
    .row
      .col-sm-4.col-md-3
        h3 Previous local forms
        md-list
          md-list-item(ng-repeat='previousForm in previousForms track by $index')
            md-button.md-raised(ng-click='selectPreviousForm(previousForm)', type='button') {{previousForm}}


      .col-sm-8.col-md-9
        h3 Current form data
        pre {{journey | json}}
