
.journey-edit-container {

  .transition(opacity 300ms ease);
  opacity: 0;

  &.fade-in {
    opacity: 1;
  }
}


.view-journey-button {
  float: left;
}


.journey-inline {
  clear: both;
}


.formly-field-viewbutton {
  width: 50%;
  float: left;
  height: 100px;
  text-align: center;

  button {
    width: 80%;
    text-align: center;
    height: 45px;
    .font-size(1.6)
  }
}

.step-time textarea:focus{
  height: 34px !important;
}
